.vscode

/frontend/node_modules
/frontend/build
/frontend/.prettierrc
/frontend/.eslintrc
/frontend/.editorconfig
/frontend/.gitignore
/frontend/.env
/frontend/.env.production

/backend/node_modules
/backend/uploads
/backend/nodemon.json